<html>
  <head>	
    <title>Register</title>
    <link href="/stylesheets/register.css" media="screen" rel="Stylesheet" type="text/css">
  </head>
  <body>
    <h2>Enter you Twitter credentials</h2> 
    <form action="" method="post"> 
      <p><label for="username" type="text">Twitter Username</label>&nbsp;<input name="username" type="text"/></p> 
      <p><label for="passowrd" type="password">Twitter Password</label>&nbsp;<input name="password" type="password"/></p> 
      <p><label for="mobile">Mobile Number</label>&nbsp;<input name="mobile" type="text"/></p>
      <input type="submit" value="Submit" /> 
    </form> 
    <span class="info">* We will never misuse your password </span><br />
    <span class="info">* Type Tweet Your-Message and Send it to 56767888</span>
  </body>
</html>

